
<mat-toolbar color="primary">
  <span>All4One</span>
  <div class="spacer">
    <div class="searchbox">
      <form>
        <input type="text" placeholder=" Search...." name="search">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <!--<a mat-button > Home</a> -->
  <a mat-button routerLink="/login"> Login</a>
  <!--<a mat-button routerLink="/register"> Register</a>-->
  <a mat-button routerLink="/products"> Products</a>
  <a mat-button routerLink="/forgot"> Forgot</a>
  <a mat-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon> </a>

</mat-toolbar>
