.spacer{
  flex:2 2  auto;
}
.mat-button-toggle{
  background-color:#832256;
  color: #ffffff;
}

.mat-button:hover {
  background-color:#832256;
  color: navajowhite;
}

.mat-button-toggle-checked {
  background-color: #ec2c4c;
  color: #67ec79 ;
}
.mat-toolbar.mat-primary {
  background:#36837b;
  color: #fff;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}
