<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Image Hover Effect</title>
  <link rel="stylesheet" href="categories.component.css">
</head>

<body>

<figure class="container">
  <img src="assets/trousers.jpg" alt="sample89" />
  <figcaption>
    <h3>Trousers</h3>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="container">
  <img src="assets/shoes.jpg" alt="sample94" />
  <figcaption>
    <h3>Shoes</h3>
  </figcaption>
  <a href="#"></a>
</figure>
<figure class="container">
  <img src="assets/dress.jpg" alt="sample92" />
  <figcaption>
    <h3>Dresses</h3>
  </figcaption>
  <a href="#"></a>
</figure>
</body>
</html>

