<p>forgot works!</p>
<div class="formm-boxx">

  <form #forgotForm="ngForm" (ngSubmit)="ForgotPass(forgotForm)">
  <label>Enter Username: </label>
  <input type="text"  #username name="username" >
  <label>Enter Email: </label>
  <input type="text" #email name="email" >
  <label>Enter New Password: </label>
  <input type="text" #password name="password" >
  <button  type="submit"  class="btn">SUBMIT</button>
  <button  class="buton1" type=button (click)="getRouteLocation('/login')"> BackToLogin</button>
  </form>
</div>
