*
{
  text-align: center;
  border-color: black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  /*Create 2 columns and auto-place rows */
  margin: 20px;
  border-color: black;
}

.grid-item{
  transition: 0.3s ease-in-out;
}

.grid-item:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: cadetblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;

}

.button:hover span {
  padding-right: 25px;

}

.button:hover{
  background-color: lightblue;
}

.button:hover span:after {
  opacity: 1;
  right: 0;

}

.containerNume{
  color: black;
  text-align: center;
  alignment: center;
  width: 800px;
  height: 40px;
  margin-left: 550px;
  background-color: cadetblue;
  margin-top: 10px;
}

.containerNume:hover{
  color: black;
  background: lightblue;
}

mat-sidenav-container{
  height: 100%;

}

mat-sidenav,mat-sidenav-content{
  padding:16px ;
  background-color: #96ded7;
}
mat-sidenav{
  background-color: #d7ca92;
  width: 300px;
  position: relative;
}

.spacer{
  flex:2 2  auto;
}
.mat-button-toggle{
  background-color:#832256;
  color: #ffffff;
}

.mat-button:hover {
  background-color:#832256;
  color: navajowhite;
}

.mat-button-toggle-checked {
  background-color: #ec2c4c;
  color: #67ec79 ;
}
.mat-toolbar.mat-primary {
  background:#36837b;
  color: #fff;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  z-index: 99;
}

